@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;900&display=swap');


.h1 {
    font-size: 3em;
    font-weight: 900;
    line-height: 1; 
    font-family: 'Outfit', sans-serif;
   
}